body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    display: flex;
    align-items: center;
    background-color: #40916C;
}

img {
    width: 50%; /* Adjust the width as needed */
    margin-right: 20px; /* Add some margin to separate the image from other content */
}

.content {
    flex-grow: 1;
}
